# Entorno virtual
venv/
env/
ENV/
.venv/
.VENV/

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Archivos de configuración de entorno
.env
*.env


# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro
*.log

# Archivos de respaldo
*.bak

# Archivos de control de versiones de otros sistemas
.svn/
.hg/
.lock-wscript
.lock-waf
.lock-git

# Otros archivos de tu proyecto que no necesitas compartir
