body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffc107 !important;
}

.section-title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 30px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    color: #343a40;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: transform 0.3s;
    height: 200px;
    object-fit: cover;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin-top: 15px;
    color: #343a40;
}

.card-text {
    font-family: 'Georgia', serif;
    font-style: italic;
    color: #6c757d;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
