<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TattooArt - Contacto</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
  <link href="{% static 'tattoart/css/contacto.css' %}" rel="stylesheet">
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="{% url 'inicio' %}">TattooArt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'tatuadores' %}">Tatuadores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'productos' %}">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'acercaDe' %}">Acerca de</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <form method="post" action="{% url 'logout' %}" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-link nav-link" style="display:inline; cursor:pointer;">Cerrar Sesión</button>
                  </form>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>



  <!-- Contenido de la página de contacto -->
  <div class="container mt-5">
    <h2 class="section-title text-center">Contacto</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4 shadow-sm rounded">
          <form id="contact-form" method="POST" action="{% url 'contacto' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="form-group">
              <label for="correo_electronico">Correo Electrónico:</label>
              <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" placeholder="Ingrese su correo electrónico" required>
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje:</label>
              <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Ingrese su mensaje" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie de página -->
  <footer class="footer bg-dark text-white text-center py-3 custom-footer">
    <div class="container">
      <span>TattooArt &copy; 2024</span>
    </div>
  </footer>

  <!-- Bootstrap y jQuery JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Mostrar mensaje de éxito si está presente -->
  {% if mensaje_exito %}
  <script>
    alert("{{ mensaje_exito }}");
  </script>
  {% endif %}
</body>
</html>
